@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

.section {
  width: 100%;
  background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.5) 50%
      )
      center center / cover,
    url("forest.jpg");
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 65px;
  margin-top: 0px;
  background-color: #f9f9f9;
  border-radius: 0%;
}

.navbar > img {
  height: 96%;
  width: 5%;
  float: left;
  color: black;
  filter: brightness(1.3) invert(0);
  margin-bottom: 17px;
  margin-left: 0.5px;
}

.icon {
  width: 200px;
  float: right;
  height: 70px;
  margin-left: -555px;
  margin-top: -17px;
}

#logo {
  font-size: 36px;
  font-weight: 550;
  color: black;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 5px;
  text-decoration: none;
  padding-left: 10px;
  margin-top: -10px;
}

#logo span {
  color: #20c1d5;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 1px;
  transition: 0.5s ease;
}

.menu ul li a:hover {
  background: #20c1d5;
  color: white;
  padding: 7px;
}

.menu {
  width: 36%;
  float: right;
  height: 70px;
}

ul {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 37px;
  margin-top: 14px;
  font-size: 14px;
  margin-right: 25px;
}

.menu ul li:nth-child(4) a.unclickable {
  pointer-events: none; 
  cursor: default; 
  background: none; 
  color: rgb(0, 0, 0);
}

.menu ul li:nth-child(4) a.unclickable:hover {
  text-decoration: none;
}

.section .section-center {
  position: relative;
  top: 45%;
  left: 0px;
  right: 0px;
  transform: translateY(-50%);
}

#booking {
  font-family: Lato, sans-serif;
  background-size: cover;
  background-position: center center;
  color: rgb(25, 26, 30);
}

.booking-form {
  position: relative;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.16) 50%,
    rgba(0, 0, 0, 0.16) 50%
  );
  max-width: 642px;
  width: 100%;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px -5px;
  position: fixed;
  top: 50%;
  right: 30%;
  transform: translate(50%, -50%);
}

.booking-form .form-label {
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 14px;
}

.booking-form .form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

.booking-form select.form-control {
  appearance: none;
}

.booking-form .form-control::placeholder {
  color: white;
}

.booking-form .form-control:focus,
.booking-form .form-control:not(:placeholder-shown) {
  color: white;
  border-color: none;
  outline: none;
  box-shadow: none;
}

.booking-form select.form-select,
.booking-form .form-check-label {
  border: none;
  outline: none;
  box-shadow: none;
}

.booking-form .form-control:focus,
.booking-form select.form-select:focus {
  color: white;
  background-color: black;
}

#validationDefault03 {
  width: 257.5px;
}

.booking-form select.form-select:focus option {
  background-color: black;
}

.booking-form .input-group-text:focus {
  background-color: black;
  border-color: black;
}

.booking-form select.form-select {
  background-color: transparent;
  border: 2px solid rgb(32, 193, 213);
  color: #fff;
  height: 48px;
  width: 166px;
  position: relative;
  left: -30px;
}

#Default04 {
  position: relative;
  left: -29px;
}

.booking-form select.form-select option {
  background-color: rgba(0, 0, 0, 0.7);
}

.booking-form .form-control {
  border: 2px solid rgb(32, 193, 213);
}

.booking-form .input-group-text {
  background-color: #f2f2f2;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

.booking-form .form-check {
  margin-top: 10px;
  color: whitesmoke;
}

.booking-form .btn-primary {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(32, 193, 213);
  border: none;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .booking-form {
    grid-template-columns: 1fr 1fr;
  }

  .booking-form .col-md-4 {
    grid-column: span 1;
  }

  .booking-form .col-md-6 {
    grid-column: span 2;
  }
}

.booking-cta {
  margin-top: 0.5%;
}

.booking-cta h1 {
  font-family: "Times New Roman";
  font-size: 55px;
  padding-left: 20px;
  margin-top: 4%;
  letter-spacing: 2px;
}

.booking-cta {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.booking-cta span {
  color: rgb(32, 193, 213);
  font-size: 50px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* change the color of cal icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the color to white */
}

/* Hide scroll bar */
.form-select::-webkit-scrollbar {
  width: 0; /* for Chrome*/
}

.form-select {
  scrollbar-width: none; /* for  Firefox */
}

.read-more {
  color: rgb(32, 193, 213);
  cursor: pointer;
  font-size: 12px;
}