@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(67, 67, 67);
  color: white;
  font-weight: 700;
  width: 100%;
}

.navbar > a {
  color: white;
  display: inline-block;
  margin: 1% 1.5%;
  text-decoration: none;
}

.navbar > a:hover {
  background-color: #20c1d5;
  color: black;
}

.navbar > a:hover {
  background-color: #20c1d5;
  color: black;
}

.navbar > a:last-child {
  margin-left: 16.5%;
}

#currentDateTime {
  margin-left: 80px;
  animation: colorChange 260s infinite;
  background-color: #383737;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 7px;
}

.dark-mode #currentDateTime {
  background-color: #0d0d0d;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1); 
}

@keyframes colorChange {
  0% { color: rgb(254, 210, 210); }
  3.33% { color: rgb(255, 255, 153); }
  6.66% { color: rgb(255, 204, 204); }
  10% { color: rgb(153, 255, 153); }
  13.33% { color: rgb(204, 204, 255); }
  16.66% { color: rgb(255, 204, 102); }
  20% { color: rgb(204, 153, 255); }
  23.33% { color: rgb(153, 255, 255); }
  26.66% { color: rgb(255, 153, 204); }
  30% { color: rgb(204, 255, 153); }
  33.33% { color: rgb(204, 102, 255); }
  36.66% { color: rgb(255, 153, 102); }
  40% { color: rgb(153, 204, 255); }
  43.33% { color: rgb(255, 153, 255); }
  46.66% { color: rgb(153, 255, 204); }
  50% { color: rgb(255, 102, 102); }
  53.33% { color: rgb(255, 255, 102); }
  56.66% { color: rgb(255, 204, 153); }
  60% { color: rgb(102, 255, 102); }
  63.33% { color: rgb(153, 153, 255); }
  66.66% { color: rgb(255, 204, 255); }
  70% { color: rgb(153, 255, 102); }
  73.33% { color: rgb(204, 153, 255); }
  76.66% { color: rgb(102, 255, 255); }
  80% { color: rgb(255, 102, 153); }
  83.33% { color: rgb(204, 255, 102); }
  86.66% { color: rgb(255, 153, 255); }
  90% { color: rgb(102, 204, 255); }
  93.33% { color: rgb(255, 102, 255); }
  96.66% { color: rgb(153, 255, 102); }
  100% { color: rgb(213, 213, 250); }
}

.navbar:nth-child(1) a.unclickable {
  pointer-events: none; 
  cursor: default; 
  background: none; 
  color: rgb(255, 255, 255);
}

.navbar:nth-child(1) a.unclickable:hover {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.flightDetails {
  max-width: 600px;
  height: 486px;
  width: 99%;
  border-radius: 6px;
  padding-left: 220px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(214, 236, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.form {
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fields {
  display: flex;
  gap: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 600px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input[type="date"],
input[type="time"],
input[type="search"],
input[type="text"],
input[type="number"],
select {
  padding: 8px;
  border: 2px solid rgb(198, 238, 244);
  border-radius: 4px;
  appearance: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

select option {
  background-color: rgb(241, 247, 252);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="date"],
input[type="time"],
input[type="search"],
input[type="text"],
input[type="number"] {
  background-color: rgb(241, 247, 252);
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px #45a049;
}

#status {
  width: 193px;
  height: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  justify-items: center;
  padding-top: 10px;
  justify-content: center;
}

.submitBtn {
  background-color: #45a049;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #45a049;
  display: inline-block;
}

.submitBtn:hover {
  background-color: #4bd760;
}

#hide-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.dMode {
  position: absolute;
  top: 3%;
  left: 97%;
  transform: translate(-50%, -50%);
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 70px;
  height: 35px;
  background: #211042;
  border-radius: 17.5px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 2px;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background: #faeaf1;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #e5d4db;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #fffff9;
  width: 48px;
  height: 48px;
  left: 5px;
  bottom: 5px;
}

.crater-2 {
  width: 11px;
  height: 11px;
  top: -3px;
  left: 23px;
}

.crater-3 {
  width: 9px;
  height: 9px;
  top: 9px;
  right: -2px;
}

.crater-4 {
  width: 5px;
  height: 5px;
  top: 10px;
  left: 10px;
}

.crater-5 {
  width: 9px;
  height: 9px;
  top: 17px;
  left: 16px;
}

.crater-6 {
  width: 5px;
  height: 5px;
  top: 21px;
  left: 9px;
}

.crater-7 {
  width: 7px;
  height: 7px;
  bottom: 1px;
  left: 14px;
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0.5px 0.5px rgba(255, 255, 255);
}

.star-1 {
  width: 2px;
  height: 2px;
  right: 32px;
  bottom: 14px;
}

.star-2 {
  width: 3px;
  height: 3px;
  right: 25px;
  top: 5px;
}

.star-3 {
  width: 2px;
  height: 2px;
  right: 21px;
  bottom: 4px;
}

.star-4 {
  width: 1px;
  height: 1px;
  right: 14px;
  bottom: 13px;
}

.star-5 {
  width: 1px;
  height: 1px;
  right: 3px;
  bottom: 9px;
}

.star-6,
.star-7,
.star-8 {
  width: 3px;
  height: 0.5px;
  border-radius: 0.5px;
  transform: rotate(-45deg);
  box-shadow: 1.5px 0px 1px 0.25px #fff;
  animation: travel 1.5s ease-out infinite;
}

.star-6 {
  right: 7px;
  bottom: 7px;
  animation-delay: -2s;
}

.star-7 {
  right: 12px;
  bottom: 15px;
}

.star-8 {
  right: 23px;
  top: 4px;
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(70px);
  }

  50% {
    transform: rotate(-45deg) translateX(-20px);
    box-shadow: 5px 0px 6px 1px #fff;
  }

  100% {
    transform: rotate(-45deg) translateX(-30px);
    width: 2px;
    height: 2px;
    opacity: 0;
    box-shadow: none;
  }
}

#hide-checkbox:checked + .toggle {
  background: #24d7f7;
}

#hide-checkbox:checked + .toggle .toggle-button {
  background: #fecb8c;
  transform: translateX(40px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#hide-checkbox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(70px);
}

#hide-checkbox:checked + .toggle .star {
  animation: move 1s infinite;
  transform: none;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-1 {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  left: 20px;
  top: 25px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-2 {
  width: 12px;
  height: 12px;
  background: #fff;
  left: 26px;
  top: 23px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-3 {
  width: 16px;
  height: 16px;
  background: #fff;
  left: 35px;
  top: 19px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-4 {
  width: 14px;
  height: 14px;
  background: #fff;
  left: 46px;
  top: 21px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-5 {
  width: 60px;
  height: 15px;
  border-radius: 15px;
  background: #fff;
  left: 30px;
  bottom: 20px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-6 {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  left: 38px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-7 {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  left: 52px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-8 {
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
  left: 70px;
  top: 59px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}

p {
  text-align: center;
  letter-spacing: 15px;
  background: #34495e;
  color: #fff;
}

p.morning {
  background: #e67e22;
}

.dark-mode {
  background-color: #000000;
  color: #fff;
}

.dark-mode .flightDetails {
  background-color: #000000;
  color: #fff;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
}

.dark-mode input[type="date"],
.dark-mode input[type="time"],
.dark-mode input[type="search"],
.dark-mode input[type="text"],
.dark-mode input[type="number"] {
  background-color: #333;
  color: #fff;
}

/* Target the calendar icon inside the input field */
.dark-mode input[type="date"]::-webkit-calendar-picker-indicator,
.dark-mode input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the color to white */
}

.dark-mode #status {
  background-color: #333;
  color: #fff;
}

.dark-mode #airlineSelect {
  background-color: #333;
  color: #ffffff;
}

.dark-mode select option {
  background-color: rgb(42, 42, 42);
}

